html {
    background-color: #000e38;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

p {
  margin: 0;
}

.zoneTitle {
    font-size: 2em;
    margin-left: .5em;
    color: white;
    position: static;
    width: 100%;
    z-index: 4;
    text-shadow: black 1px 1px;
}

#HUD {
    position: fixed;
    bottom: 50%;
    right: 0;
    margin: 0;
    padding: 0;
    border-bottom: white solid 2px;
    z-index: 5;
}

.minimap {
    position: fixed;
    top: 20%;
    left: 10px;
    width: 10%;
    height: 65%;
    border: 2px solid white;
    opacity: .5;
    box-shadow: 1px 1px black;
}

.minimap:hover, .mapZone:hover {
    opacity: 1;
    cursor: pointer;
}

#mapslider {
    background-color: white;
    position: absolute;
    width: 100%;
    top: 0;
    height: 2px;
    opacity: .6;
}

#top, #bottom {
    position: absolute;
    width: 100%;
    font-size: 2em;
    text-align: center;
    color: white;
    cursor: pointer;
    text-shadow: black 1px 1px;
    -webkit-filter: drop-shadow(1px 1px black);
    filter: drop-shadow(1px 1px black);
    left: 50%;
    margin-left: -15px;
}

#top {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    top: -20px;
}

#bottom {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid white;
    bottom: -20px;
}

.tooltip, .tooltiptext {
    visibility: hidden;
    color: white;
    position: relative;
    top: -4px;
    left: 4px;
    text-shadow: black 2px 2px 1px;
    font-size: .75em;
    z-index: 6;
}

#mapEpi:hover #mapEpiText {
    visibility: visible;
    opacity: 1;
}

#mapMeso:hover #mapMesoText {
    visibility: visible;
    opacity: 1;
}

#mapBathy:hover #mapBathyText {
    visibility: visible;
    opacity: 1;
}

#mapAbyss:hover #mapAbyssText {
    visibility: visible;
    opacity: 1;
}

#mapHado:hover #mapHadoText {
    visibility: visible;
    opacity: 1;
}

.mapZone {
    opacity: .5;
}

#mapEpi {
    height: 3%;
    background-color: rgb(180, 15, 15);
}

#mapMeso {
    height: 7%;
    background-color: rgb(170, 160, 0);
}

#mapBathy {
    height: 27%;
    background-color: rgb(50, 120, 40);
}

#mapAbyss {
    height: 18%;
    background-color: rgb(110, 180, 200);
}

#mapHado {
    height: 45%;
    background-color: rgb(255, 100, 200);
}

#depthTxt, #presTxt {
    color: white;
    margin: 0 .5em 0 0;
    text-shadow: black 1px 0px;
}

#menuContainer {
  right: 8px;
  position: fixed;
  top: 8px;
  display: block;
  margin: 0;
  font-size: 1em;
  line-height: 2em;
  color: white;
  text-align: center;
  background-color: rgba(60, 60, 60, 0.7);
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 4px;
  min-width: 32px;
}

#optionsMenu {
  display: none;
  min-width: 200px;
  padding: 8px;
  div {
    display: flex;
    margin-bottom: 8px;
  }
}

#menuIcon, #closeIcon {
  max-width: 40px;
  background: none;
  color: white;
  cursor: pointer;
  border: none;
}

#closeIcon {
  position: absolute;
  top: 4px;
  right: 4px;
}

#presTogl, #distTogl {
  margin-left: 4px;
  cursor: pointer;
}

#mapTogl, #linesTogl {
  margin-left: 4px;
  cursor: pointer;
}

.zoneDiv {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.top {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0;
  display: flex;
  background: rgb(75, 121, 255);
  background: -moz-linear-gradient(45deg, rgba(75, 121, 255, 1) 0%, rgba(113, 211, 255, 1) 70%, rgba(255, 255, 218, 1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(75, 121, 255, 1) 0%, rgba(113, 211, 255, 1) 70%, rgba(255, 255, 218, 1) 100%);
  background: linear-gradient(45deg, rgba(75, 121, 255, 1) 0%, rgba(113, 211, 255, 1) 70%, rgba(255, 255, 218, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4b79ff", endColorstr="#ffffda", GradientType=1);
}

.land {
  position: absolute;
  bottom: 0;
  background: rgb(116, 221, 94);
  background: -moz-linear-gradient(45deg, rgba(18, 38, 25, 1) 0%, rgba(30, 85, 42, 1) 50%, rgba(116, 221, 94, 1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(18, 38, 25, 1) 0%, rgba(30, 85, 42, 1) 50%, rgba(116, 221, 94, 1) 100%);
  background: linear-gradient(45deg, rgba(18, 38, 25, 1) 0%, rgba(30, 85, 42, 1) 50%, rgba(116, 221, 94, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#122619", endColorstr="#74dd5e", GradientType=1);
  height: 60%;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  width: 100%;
  display: block;
}

.sand {
  position: absolute;
  bottom: 0;
  background-color: #e5d2b1;
  background-image: linear-gradient(#e5d2b1, #a98345);
  height: 20%;
  width: 100%;
  display: block;
}

.foam {
  position: absolute;
  bottom: 0;
  height: 10%;
  background: rgb(83, 200, 238);
  background: -moz-linear-gradient(0deg, rgba(83, 200, 238, 1) 5%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(83, 200, 238, 1) 5%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(0deg, rgba(83, 200, 238, 1) 5%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#53c8ee", endColorstr="#ffffff", GradientType=1);
  display: block;
  width: 100%;
}

.ocean h4, .land h4 {
  font-size: 2em;
  color: white;
  align-self: flex-end;
  margin-bottom: 0;
  width: 100%;
  text-align: right;
  margin-right: .5em;
  text-shadow: 1px 1px black;
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#wholeocean {
  position: relative;
}

.ocean {
  width: 100%;
  height: 1000px;
  margin: 0;
  display: flex;
  outline: none;
}

.sunlit {
    background-color: #53c8ee;
    position: static;
}

.sunlitLast {
    background-color: #53c8ee;
    background-image: linear-gradient(#53c8ee, #263069);
    position: static;
}

.twilit {
    background-color: #263069;
}

.twilitLast {
    background-color: #263069;
    background-image: linear-gradient(#263069, #000e38)
}

.midnight {
    background-color: #000e38;
}

.midnightLast {
    background-color: #000e38;
}

.oceanfloor {
    background-color: black;
}

.clifftop {
    position: absolute;
    top: -100px;
    right: 0;
    border-bottom: 100px solid black;
    border-left: 10vw solid transparent;
    height: 0;
    width: 10vw;
    z-index: 1;
}

.cliff {
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 70000px solid black;
    border-left: 10vw solid transparent;
    height: 0;
    width: 30vw;
    z-index: 1;
}

.trench {
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 50000px solid black;
    border-right: 5vw solid transparent;
    height: 0;
    width: 30vw;
    z-index: 1;
}

.living {
    position: absolute;
    z-index: 2;
}

.living img {
    max-width: 100%;
}


#scubadiver {
    max-width: 8%;
    top: 200px;
    left: 75%;
}


#whaleshark {
    max-width: 40%;
    top: 500px;
    left: 30%;
}

#turtle {
    max-width: 10%;
    top: 3000px;
    left: 15%;
}

#swordfish {
    max-width: 13%;
    top: 4000px;
    left: 55%;
}

#giantsquid {
    max-width: 40%;
    top: 6000px;
    left: 15%;
}

#oarfish {
    max-width: 20%;
    top: 7500px;
    left: 50%;
}

#spermwhale {
    max-width: 50%;
    top: 9000px;
    left: 35%;
}

#elephantseal {
    max-width: 10%;
    top: 15000px;
    left: 30%;
}

#jellies {
    max-width: 10%;
    top: 17000px;
    left: 40%;
}

#jellies img {
    -webkit-animation-name: glowing;
    animation-name: glowing;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

#lure {
    width: 5%;
    height: 12%;
    position: absolute;
    top: 22%;
    right: 5%;
    border-radius: 50%;
    background-color: white;
    -webkit-animation-name: glowing;
    animation-name: glowing;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes glowing {
    0% {
        -webkit-filter: drop-shadow(0px 0px 0px white);
        filter: drop-shadow(0px 0px 0px white);
    }
    50% {
        -webkit-filter: drop-shadow(0px 0px 20px white);
        filter: drop-shadow(0px 0px 20px white);
    }
    100% {
        -webkit-filter: drop-shadow(0px 0px 0px white);
        filter: drop-shadow(0px 0px 0px white);
    }
}

#angler {
    max-width: 10%;
    top: 20000px;
    left: 15%;
}

#gulpereel {
    max-width: 10%;
    top: 25000px;
    left: 65%;
}

#beakedwhale {
    max-width: 15%;
    top: 30000px;
    left: 50%;
}

#dumbo {
    max-width: 10%;
    top: 35000px;
    left: 15%;
}

#whalebones {
    max-width: 15%;
    top: 39895px;
    left: 85%;
}

#tripodfish {
    max-width: 5%;
    top: 39995px;
    left: 72%;
}

#bigfinsquid {
    max-width: 10%;
    top: 47000px;
    left: 30%;
}

#worms {
    max-width: 85%;
    top: -45vw;
    left: 0;
}

#snailfish{
    max-width: 5%;
    top: 79000px;
    left: 55%;
}

#whalebonestext{
    position: absolute;
    top: 0;
    left: 0;
}

.textholder{
    position: absolute;
}

@media screen and (max-width: 650px) {
    h1, .ocean h4, .land h4, .zoneTitle {
        font-size: 1em;
    }
    .minimap {
        width: 20%;
    }
    .tooltiptext {
        font-size: .5em;
    }
}